[include shell_command.cfg]
# For the ZNP Robin Nano DW v2.2 board:
#   - Compile with the processor model STM32F401.
#   - Select the 32KiB bootloader,
#   - Select (Serial (on # USART1 PA10/PA9) for the communication interface.
#   - Select (Serial (on # USART2 PA3/PA2) if you want to use the serial UART pins on J17 (wifi section)
# Note that the "make flash" command does not work with ZNP Robin boards. After running "make", run the following command:
# cp out/klipper.bin out/ZNP_ROBIN_NANO.bin
#
# Copy the file out/ZNP_ROBIN_NANO.bin to an SD card and then restart the printer with that SD card.
# See docs/Config_Reference.md for a description of parameters.

#############################################################################
#   External Config Includes
#############################################################################

#[include mainsail.cfg]                 ; Mainsail runs on port 81 (http://IP_ADDRESS:81)
#[include timelapse.cfg]                ; Timelapse config
#[include fluidd.cfg]                   ; Fluidd Macros
[include KAMP_Settings.cfg]            ; Klipper Adaptive Mesh and Purge config
[include moonraker_obico_macros.cfg]   ; Moonraker config and updates

[include ./Macros/print_start.cfg]              ; Custom Print Start 
[include ./Macros/print_end.cfg]                ; Custom Print End 
[include ./Macros/printing_macros.cfg]          ; Custom Cancel, Resume etc

#[include adxl.cfg]                     ; Comment this out when you disconnect the Pico/MellowFly

#[include klipper_debug.cfg]            ; Klipper Debug Config

#############################################################################
#   Base Config
#############################################################################

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics:cartesian
#max_velocity: 190
max_velocity: 200
max_accel: 2500
#max_accel: 10000 ;Use for Input Shaping tests
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5


[respond]
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]                        ; For item labelling and adaptive meshing definition
[firmware_retraction]
[virtual_sdcard]
path: /home/mks/printer_data/gcodes
[force_move]
enable_force_move: True
[idle_timeout]
timeout: 2100                           ; 35min idle timeout (when not paused or printing)

#############################################################################
#   X/Y/Z Stepper Config
#############################################################################

[stepper_x]
step_pin: !PC12
dir_pin: PB3
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
endstop_pin: PA13
position_endstop: -6.0
position_min: -6
position_max: 420
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: false

[stepper_y]
step_pin: PC11
dir_pin: PA15
enable_pin: !PC10
microsteps: 16
rotation_distance: 40
endstop_pin: PB8
position_endstop: 0
position_max: 420
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: false

[stepper_z]
step_pin: PC7
dir_pin: !PC9
enable_pin: !PC8
rotation_distance: 8
microsteps: 16
position_min: -2
position_max: 500
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
homing_speed: 5.0
second_homing_speed: 3
homing_retract_dist: 5

[stepper_z1]
step_pin: PC4
dir_pin: PA4
enable_pin: !PC5
rotation_distance: 8
microsteps: 16

#############################################################################
#   Extruder Config
#############################################################################

[extruder]
step_pin: PB10
dir_pin: PB1
enable_pin: !PC6
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 250
# Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
rotation_distance: 7.764 # Current
#rotation_distance: 7.67
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=extruder TARGET=200
control = pid
pid_kp = 30.356
pid_ki = 1.857
pid_kd = 124.081
# Calibrate PA: https://www.klipper3d.org/Pressure_Advance.html
#pressure_advance = 0.600
pressure_advance_smooth_time: 0.04
pressure_advance: 0
max_extrude_only_distance: 100.0
max_extrude_only_velocity:60
max_extrude_only_accel:3000
max_extrude_cross_section: 5                  ; standard klipper default 4* (NozzleDiam^2)

#[verify_heater extruder]            ; heating bed temperature tolerance configuration
#max_error: 120                      ; maximum error
#check_gain_time: 120                 ; tolerance time
#hysteresis: 20                      ; tolerance temperature
#heating_gain: 2                     ; heating gain

#############################################################################
#   Bed Heater Config
#############################################################################

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
pwm_cycle_time: 0.020 # set to 0.0166 if your grid runs on 60Hz to fix lights flickering
max_temp: 110
min_temp: 0
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=heater_bed TARGET=60
control = pid
pid_kp = 64.230
pid_ki = 0.723
pid_kd = 1425.905

#[verify_heater heater_bed]          ; heating bed temperature tolerance configuration
#max_error: 120                      ; maximum error
#check_gain_time: 120                ; tolerance time
#hysteresis: 20                      ; tolerance temperature
#heating_gain: 1                     ; heating gain

#############################################################################
#   Fan & Temp Monitoring Config
#############################################################################

[fan]
pin: PA7

[heater_fan hotend_fan]
pin: PB0
heater: extruder
heater_temp: 50.0

[temperature_sensor RaspberryPi]
sensor_type: temperature_host
#min_temp: 10
#max_temp: 105

[temperature_sensor STM32MCU]
sensor_type: temperature_mcu
sensor_temperature1: 25
sensor_adc1: 0.210317
#min_temp: 10
#max_temp: 85

#############################################################################
#   Probe & Bed Mesh Config
#############################################################################

[probe]
pin: ^PA8
x_offset: -28
y_offset: 20
# Calibrate probe: https://www.klipper3d.org/Bed_Level.html
# - Example: PROBE_CALIBRATE, then adjust with TESTZ Z=+/-X
#z_offset = 0
speed: 5
samples: 3
samples_result: median 
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 5
#lift_speed: 15

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 12,25
mesh_max: 385,415
probe_count: 12,12
algorithm: bicubic
bicubic_tension:0.2
#mesh_pps: 2, 2
mesh_pps: 4, 4
fade_start: 1.0
fade_end: 15.0
adaptive_margin: 5

#############################################################################
#   Homing & Levelling Config/Macros
#############################################################################

[gcode_macro LOAD_CURRENT_MESH]
description: Load the current mesh
gcode:
    BED_MESH_PROFILE LOAD=default

[safe_z_home]
home_xy_position: 210.0,210.0
speed: 100
z_hop: 10
z_hop_speed: 5

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 385
calibrate_y: 212.5

[gcode_macro Axis_Twist_Comp_Tune]
gcode:    
      G28
      AXIS_TWIST_COMPENSATION_CALIBRATE

[screws_tilt_adjust]
screw1: 55, 375
screw1_name: left back screw
screw2: 55, 205
screw2_name: left middle screw
screw3: 55, 30
screw3_name: left front screw
screw4: 415, 30
screw4_name: right front screw
screw5: 415, 205
screw5_name: right middle screw
screw6: 415, 375
screw6_name: right back screw
screw_thread: CW-M3

[gcode_macro Bed_Level_Screws_Tune]
gcode:
      BED_MESH_CLEAR                                               ; Clear Bed Mesh
#      SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=65          ; Heat Bed to target temp
#      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=63 MAXIMUM=70     ; Waits until the bed reaches close to target
      G28                                                          ; Home All Axis
      SCREWS_TILT_CALCULATE                                        ; Run Manual adjust

[z_tilt]
z_positions:
        55, 205
        415, 205
points:
        55, 205
        415, 205
speed: 200
horizontal_move_z: 5
retries: 20
retry_tolerance: .0025

[gcode_macro Z_Axis_Adjust]
description: Compensate for Z axis tilt
gcode:
      G28
      Z_TILT_ADJUST

[gcode_macro Calibrate_Probe_Z_Offset]
gcode:
      G28
      PROBE_CALIBRATE

[gcode_macro Auto_Full_Bed_Level]
gcode:
      RESPOND PREFIX="info" MSG="Running Custom Bed Leveling Macro"
      BED_MESH_CLEAR
      SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=65            ; Heat Bed to target temp
      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=63 MAXIMUM=70       ; Waits until the bed reaches close to target
      G28
      BED_MESH_CALIBRATE

#############################################################################
#   Filament Sensor & Change Macros
#############################################################################

[filament_switch_sensor filament_sensor]
pause_on_runout: true
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    UNLOAD_FILAMENT
event_delay: 3.0
pause_delay: 1.0
switch_pin: PB4

[delayed_gcode DISABLE_FILAMENT_SENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  25
variable_purge_distance:  30
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={200-4} MAXIMUM={200+40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 30 %}
  SAVE_GCODE_STATE NAME=load_state
  G91
  G92 E0
  G1 E{load_distance} F{max_velocity}          ; fast-load
  G1 E{purge_distance} F{speed}                ; purge
  RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  55
variable_purge_distance:  15
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={200-4} MAXIMUM={200+40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 30 %}
  SAVE_GCODE_STATE NAME=unload_state
  G91
  G92 E0
  G1 E{purge_distance} F{speed}                ; purge
  G1 E-{unload_distance} F{max_velocity}       ; fast-unload
  RESTORE_GCODE_STATE NAME=unload_state

#############################################################################
#   PID Tuning Macros
#############################################################################

[gcode_macro PID_Tune_EXTRUDER]
gcode:
  {% set temperature = params.TEMPERATURE|default(210) %}
  G28
  M106 S255
  PID_CALIBRATE HEATER=extruder TARGET={temperature}
  SAVE_CONFIG

[gcode_macro PID_Tune_BED]
gcode:
  {% set temperature = params.TEMPERATURE|default(60) %}
  G28
  M106 S255 ;Sets Print Fans to 100%
  PID_CALIBRATE HEATER=heater_bed TARGET={temperature}
  SAVE_CONFIG

#############################################################################
#   LED Config
#############################################################################

[led LED_Light]
white_pin: PB9
initial_white: 1.0

[gcode_macro LIGHT_ON]
description:  Turn the printer LED strip on
gcode:
    SET_LED LED=LED_Light WHITE=1

[gcode_macro LIGHT_OFF]
description:  Turn the printer LED strip on
gcode:
    SET_LED LED=LED_Light WHITE=0

#############################################################################
#   Input Shaper Config
#############################################################################

[input_shaper]
shaper_type_y = mzv
shaper_freq_y = 36.6
shaper_type_x = mzv
shaper_freq_x = 38.4

#############################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.770
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.115000, 0.140000, 0.135000, 0.027500, 0.077500, 0.067500, 0.080000, 0.080000, 0.115000, 0.132500, 0.142500, 0.175000
#*# 	0.097500, 0.037500, 0.015000, 0.037500, 0.035000, 0.032500, 0.047500, 0.040000, 0.020000, 0.085000, 0.080000, 0.092500
#*# 	-0.002500, 0.080000, 0.042500, 0.065000, 0.025000, 0.065000, 0.070000, 0.055000, 0.065000, 0.010000, 0.082500, 0.062500
#*# 	0.027500, 0.062500, 0.022500, 0.027500, -0.005000, 0.037500, 0.062500, 0.052500, 0.077500, 0.037500, 0.082500, 0.087500
#*# 	0.045000, 0.107500, 0.045000, 0.042500, 0.005000, 0.060000, 0.070000, 0.050000, 0.082500, 0.082500, 0.085000, 0.095000
#*# 	0.050000, 0.107500, 0.060000, 0.042500, 0.012500, -0.002500, 0.055000, 0.060000, 0.082500, 0.085000, 0.087500, 0.122500
#*# 	0.027500, 0.060000, 0.022500, 0.047500, 0.025000, 0.012500, 0.035000, 0.055000, 0.085000, 0.085000, 0.082500, 0.100000
#*# 	0.137500, 0.045000, 0.035000, 0.055000, 0.040000, -0.040000, 0.077500, 0.047500, 0.087500, 0.090000, 0.012500, 0.047500
#*# 	0.102500, 0.042500, 0.060000, 0.087500, 0.045000, -0.012500, 0.042500, 0.035000, 0.082500, 0.010000, 0.095000, 0.092500
#*# 	0.087500, 0.107500, 0.012500, 0.077500, 0.062500, 0.047500, 0.065000, 0.070000, 0.112500, 0.120000, 0.097500, 0.097500
#*# 	0.070000, 0.070000, -0.007500, 0.042500, 0.025000, 0.032500, 0.045000, 0.045000, 0.082500, 0.047500, 0.087500, 0.125000
#*# 	0.032500, 0.032500, -0.012500, 0.005000, -0.015000, -0.062500, -0.035000, -0.037500, 0.040000, 0.122500, 0.090000, 0.145000
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 12.0
#*# max_x = 384.9
#*# min_y = 25.0
#*# max_y = 414.94999999999993
