[include shell_command.cfg]
[include mainsail.cfg]
[include mainsail.cfg]

##############################################################################
#----------------------------------------------------------------------------#
#      ____                _  __         __  ____                            #
#     / __ \___  ___ ___  / |/ /__ ___  / /_/ / /__ _____  ___               #
#    / /_/ / _ \/ -_) _ \/    / -_) _ \/ __/_  _/ // / _ \/ -_)              #
#    \____/ .__/\__/_//_/_/|_/\__/ .__/\__/ /_/ \_,_/_//_/\__/               #
#        /_/                    /_/                                          #
#----------------------------------------------------------------------------#
;   Neptune 4 Series Custom Image by (OpenNeptune3D/OpenNept4une):
#----------------------------------------------------------------------------#
; Wiki    : https://github.com/OpenNeptune3D/OpenNept4une/wiki
; Discord : https://discord.com/invite/X6kwchT6WM

#############################################################################
#   External Config Includes
#############################################################################

#[include mainsail.cfg]                 ; Mainsail runs on port 81 (http://IP_ADDRESS:81)
[virtual_sdcard]
path: /home/mks/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[include timelapse.cfg]                ; Timelapse config
#[include fluidd.cfg]                   ; Fluidd Macros
[include KAMP_Settings.cfg]            ; Klipper Adaptive Mesh and Purge config
[include moonraker_obico_macros.cfg]   ; Moonraker config and updates

[include ./Macros/print_start.cfg]              ; Custom Print Start 
[include ./Macros/print_end.cfg]                ; Custom Print End 
[include ./Macros/printing_macros.cfg]          ; Custom Cancel, Resume etc
[include ./Macros/user_settings.cfg]            ; Users custom macros 

#[include adxl.cfg]                     ; Comment this out when you disconnect the Pico/MellowFly

#[include klipper_debug.cfg]            ; Klipper Debug Config

#############################################################################
#   Base Config
#############################################################################

[mcu]
serial: /dev/ttyS0 ; The hardware use USART1 PA10/PA9 connect to RK3328
baud: 250000
restart_method: command

[printer]
## Use those higher values just to configure Input Shaper ##
kinematics: cartesian
max_velocity: 500
max_accel: 7000
#max_accel: 10000 ;Use for input shaping tests
max_z_velocity: 8
max_z_accel: 120
square_corner_velocity: 5.0 ;Use for input shaping tests
#square_corner_velocity: 9.0
minimum_cruise_ratio: 0.0

[respond]
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]
[firmware_retraction]
[virtual_sdcard]
path: ~/printer_data/gcodes
[force_move]
enable_force_move : True
[idle_timeout]
timeout: 2100                  ; 35min idle timeout (when not paused or printing)

#############################################################################
#   X/Y/Z Stepper Config
#############################################################################

[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PC0
position_min: -10  
position_endstop:-8
position_max: 235
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: false

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PB8
position_min: -2
position_endstop:0
position_max: 235
homing_speed:50
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z]
step_pin: PC10
dir_pin: !PA15
enable_pin: !PC11
microsteps: 32
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop
position_max: 268
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 5

#############################################################################
#   TMC Stepper-driver UART Config
#############################################################################

[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD2
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.8
interpolate: false

[tmc2209 extruder]
uart_pin: PC4
run_current: 0.9
interpolate: false

#############################################################################
#   Extruder Config
#############################################################################

[extruder]
step_pin:PA5
dir_pin:!PA6
enable_pin:!PA4
microsteps: 32
rotation_distance: 28.888                     ; 31.4 Bondtech 5mm Drive Gears
gear_ratio: 52:10
full_steps_per_rotation: 200                  ; 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 330
heater_pin: PA7
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PA1
max_power: 1
control = pid
pid_kp = 25.825
pid_ki = 1.979
pid_kd = 84.254
pressure_advance: 0.02725
pressure_advance_smooth_time: 0.02
max_extrude_cross_section: 5                  ; standard klipper default 4* (NozzleDiam^2)
instantaneous_corner_velocity: 2.5
max_extrude_only_distance: 300
max_extrude_only_velocity:60
max_extrude_only_accel:5000
step_pulse_duration:0.000002

[verify_heater extruder]
max_error: 120
check_gain_time: 120
hysteresis: 10
heating_gain: 2

#############################################################################
#   Bed Heater Config
#############################################################################

[heater_bed]
heater_pin:PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
control = pid
pid_kp = 68.601
pid_ki = 1.550
pid_kd = 758.895
min_temp: 0
max_temp: 120 

[verify_heater heater_bed]
max_error: 120
check_gain_time: 120
hysteresis: 10
heating_gain: 1

#####################################################################
#   Outer Bed Heater Config
#####################################################################

[heater_generic heater_bed_outer]
heater_pin:PC8
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC2
control = pid
pid_kp = 75.301
pid_ki = 1.383
pid_kd = 1025.032
min_temp:0
max_temp:120

[verify_heater heater_bed_outer]    ; heating bed temperature tolerance configuration
max_error: 600                      ; maximum error
check_gain_time:120                 ; tolerance time
hysteresis: 10                      ; tolerance temperature
heating_gain: 1                     ; heating gain


#############################################################################
#   Probe Config
#############################################################################

[probe]
pin:^PA11
x_offset: -24.25
y_offset: 20.45
#z_offset = 0.0
speed: 10.0
samples: 3
samples_result: median 
sample_retract_dist: 3.0
samples_tolerance: 0.05
#samples_tolerance: 0.025
samples_tolerance_retries: 5

[bed_mesh]
speed:400
horizontal_move_z:5
mesh_min: 10,21
mesh_max: 210,211
probe_count:11,11
algorithm:bicubic
bicubic_tension:0.2
mesh_pps: 4, 4
fade_start: 1.0
fade_end: 10.0
adaptive_margin: 5

#############################################################################
#   LED Config
#############################################################################

[output_pin Frame_Light]
pin: PB7

[output_pin Part_Light]
pin: PC7

[gcode_macro Frame_Light_ON]
gcode:
  SET_PIN PIN=Frame_Light VALUE=1

[gcode_macro Frame_Light_OFF]
gcode:
  SET_PIN PIN=Frame_Light VALUE=0

[gcode_macro Part_Light_ON]
gcode:
  SET_PIN PIN=Part_Light VALUE=1

[gcode_macro Part_Light_OFF]
gcode:
  SET_PIN PIN=Part_Light VALUE=0

#############################################################################
#   Beeper Config
#############################################################################

[pwm_cycle_time beeper]
pin: PA2
value: 0
shutdown_value: 0
cycle_time: 0.0005                                  ; Default PWM frequency: 2 kHz

[gcode_macro Beep]
gcode:
    {% set S = params.S|default(2000)|int %}        ; Set frequency (S), default to 2 kHz if omitted or invalid
    {% set P = params.P|default(100)|int %}         ; Set duration (P), default to 100ms if omitted or invalid
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/S if S > 0 else 1 }       ; Activate the beeper at a 80% duty cycle
    G4 P{P}                                         ; Hold the beep for the specified duration
    SET_PIN PIN=beeper VALUE=0                      ; Turn off the beeper

[gcode_macro PAUSE_TUNE]
gcode:
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/784 }       ; Activate the beeper at a 80% duty cycle
    G4 P300                                         ; Hold the beep for the specified duration
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/587 }       ; Activate the beeper at a 80% duty cycle
    G4 P600                                         ; Hold the beep for the specified duration
    SET_PIN PIN=beeper VALUE=0                      ; Turn off the beeper

#############################################################################
#   Fan & Temp Monitoring Config
#############################################################################

[fan]
pin: PC9

[controller_fan heatbreak+mainboard_fan]
pin: PA8
fan_speed: 1.0
idle_speed: 0.5
idle_timeout: 43200                                     ; 50% speed for 12h then OFF
shutdown_speed: 1
heater: extruder, heater_bed, heater_bed_outer
stepper: stepper_x, stepper_y, stepper_z, extruder

[delayed_gcode start_fan_at_idle_speed]
initial_duration: 5.                                ; 5s wait after boot
gcode:
  # Gcode Hack to trigger the mainboard fan from printer boot
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=1 ; bed heat to 1degC
  G4 P2000                                          ; wait 2s
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0 ; bed heat off

[temperature_sensor RockchipHost]
sensor_type: temperature_host
min_temp: 10
max_temp: 80

[temperature_sensor STM32MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 85

#############################################################################
#   Filament Sensor & Change Macros
#############################################################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    UNLOAD_FILAMENT
    PAUSE_TUNE
event_delay: 3.0
pause_delay: 1.0
switch_pin: PA12

[delayed_gcode DISABLE_FILAMENT_SENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  25
variable_purge_distance:  30
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={200-4} MAXIMUM={200+40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 30 %}
  SAVE_GCODE_STATE NAME=load_state
  G91
  G92 E0
  G1 E{load_distance} F{max_velocity}          ; fast-load
  G1 E{purge_distance} F{speed}                ; purge
  RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  55
variable_purge_distance:  15
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={200-4} MAXIMUM={200+40}
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 30 %}
  SAVE_GCODE_STATE NAME=unload_state
  G91
  G92 E0
  G1 E{purge_distance} F{speed}                ; purge
  G1 E-{unload_distance} F{max_velocity}       ; fast-unload
  RESTORE_GCODE_STATE NAME=unload_state

#############################################################################
#   Homing & Levelling Config/Macros
#############################################################################
[gcode_macro LOAD_CURRENT_MESH]
description: Load the current mesh
gcode:
    BED_MESH_PROFILE LOAD=default


[safe_z_home]
home_xy_position: 141.75,97.05
speed: 200
z_hop: 10
z_hop_speed: 5

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 210
calibrate_y: 117.5

[gcode_macro Axis_Twist_Comp_Tune]
gcode:    
      G28
      AXIS_TWIST_COMPENSATION_CALIBRATE

[screws_tilt_adjust]
screw1: 56.75, 182.05  
screw1_name: rear left screw
screw2: 56.75, 12.05  
screw2_name: front left screw
screw3: 226.75, 12.05  
screw3_name: front right screw
screw4: 226.75, 182.05  
screw4_name: rear right screw
#horizontal_move_z: 5
#speed: 150
screw_thread: CW-M3

[gcode_macro Bed_Level_Screws_Tune]
gcode:
      BED_MESH_CLEAR
      SET_BED_TEMPERATURE TARGET=65
      BED_TEMPERATURE_WAIT MINIMUM=63 MAXIMUM=70
      G28
      SCREWS_TILT_CALCULATE

[gcode_macro Calibrate_Probe_Z_Offset]
gcode:
      G28
      PROBE_CALIBRATE
      
[gcode_macro Auto_Full_Bed_Level]
gcode:
      RESPOND PREFIX="info" MSG="Running Custom Bed Leveling Macro"
      BED_MESH_CLEAR
      SET_BED_TEMPERATURE TARGET=65
      BED_TEMPERATURE_WAIT MINIMUM=63 MAXIMUM=70
      G28
      BED_MESH_CALIBRATE

#############################################################################
#   PID Tuning Macros
#############################################################################

[gcode_macro PID_Tune_EXTRUDER]
gcode:
  {% set temperature = params.TEMPERATURE|default(210) %}
  G28
  M106 S255
  PID_CALIBRATE HEATER=extruder TARGET={temperature}
  SAVE_CONFIG

[gcode_macro PID_Tune_BED]
gcode:
  {% set temperature = params.TEMPERATURE|default(60) %}
  G28
  M106 S255 ;Sets Print Fans to 100%
  PID_CALIBRATE HEATER=heater_bed TARGET={temperature}
  SAVE_CONFIG
  
[gcode_macro PID_Tune_Outer_BED]
gcode:
  {% set temperature = params.TEMPERATURE|default(60) %}
  G28
  M106 S255 ;Sets Print Fans to 100%
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={temperature} 	;Heats Inner Zone at the same time for better tuning 
  PID_CALIBRATE HEATER=heater_bed_outer TARGET={temperature}
  SAVE_CONFIG

#############################################################################
#   Input Shaper Config
#############################################################################

[input_shaper]
# shaper_type_x = ei
# shaper_freq_x = 84.8
#shaper_type_y: mzv
#shaper_freq_y: 64.8

#############################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_y = mzv
#*# shaper_freq_y = 61.6
#*# shaper_type_x = mzv
#*# shaper_freq_x = 61.4
#*#
#*# [probe]
#*# z_offset = 2.095
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.034167, 0.001667, -0.035833
#*# compensation_start_x = 30.0
#*# compensation_end_x = 210.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.087632, 0.071660, 0.070688, 0.072216, 0.071243, 0.065730, 0.067396, 0.064063, 0.065730, 0.058646, 0.045313
#*# 	  0.031382, 0.016660, -0.004312, -0.009034, -0.012507, -0.013020, -0.020104, -0.023437, -0.015520, -0.000104, -0.022187
#*# 	  0.015132, -0.018340, -0.036812, -0.059034, -0.048757, -0.048020, -0.055104, -0.042187, 0.000730, 0.011146, -0.000937
#*# 	  -0.016118, -0.045840, -0.068062, -0.071534, -0.033757, -0.020520, -0.021354, 0.000313, 0.025730, 0.029896, 0.010313
#*# 	  -0.024868, -0.063340, -0.080562, -0.065284, -0.047507, -0.036770, -0.026354, -0.008437, 0.003230, -0.016354, -0.039687
#*# 	  -0.012368, -0.075840, -0.088062, -0.081534, -0.047507, -0.040520, -0.018854, 0.009063, 0.004480, -0.022604, -0.052187
#*# 	  -0.002368, -0.067090, -0.075562, -0.084034, -0.061257, -0.046770, -0.026354, 0.011563, -0.013020, -0.041354, -0.050937
#*# 	  0.050132, 0.010410, 0.000688, -0.017784, -0.015007, -0.016770, -0.013854, 0.012813, 0.026980, 0.021146, 0.004063
#*# 	  0.007632, -0.015840, -0.038062, -0.046534, -0.048757, -0.058020, -0.061354, -0.047187, -0.033020, -0.030104, -0.033437
#*# 	  -0.009868, -0.012090, -0.018062, -0.027784, -0.030007, -0.035520, -0.035104, -0.019687, -0.009270, 0.008646, 0.002813
#*# 	  -0.048618, -0.053340, -0.044312, -0.035284, -0.030007, -0.033020, -0.025104, -0.015937, -0.011770, -0.000104, 0.014063
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 210.0
#*# min_y = 21.0
#*# max_y = 211.0
